#root {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  height: 100dvh;
  background-color: #151718;
}

.content {
  padding: 15px;
  background-color: #151718;
}

.chip {
  width: 300px;
  margin: 0 auto 0 auto;
}

.chip * {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
